<app-header
  [agentTypes]="agentTypes"
  [selectedAgent]="selectedAgent"
  (agentSelected)="selectAgent($event)">
</app-header>

<app-agent-selector
  [agentTypes]="agentTypes"
  [selectedAgent]="selectedAgent"
  (agentSelected)="selectAgent($event)">
</app-agent-selector>


<app-chat-window
  [chatMessages]="chatMessages"
  [loading]="loading"
  [displayedText]="displayedText"
  (copy)="copyMessage($event)">
</app-chat-window>

<app-uploaded-files
  [uploadedFiles]="uploadedFiles">
</app-uploaded-files>


<!-- Input Area -->
<div class="typing-area">
  <form class="typing-form" (submit)="handleSubmit($event)">
    <div class="input-wrapper">
      <input type="text" [(ngModel)]="userInput" name="message" placeholder="Enter a prompt here" class="typing-input"
        required />
      <button type="submit" id="send-message-button" class="icon material-symbols-rounded">send</button>
    </div>

    <!-- Document Upload Button -->
    <div class="file-upload-wrapper" *ngIf="selectedAgent === '🎥 Video Tutorial Bot'">
      <label for="file-upload" class="file-upload-label icon material-symbols-rounded" style="cursor:pointer;">
        upload_file
      </label>
      <input type="file" id="file-upload" (change)="handleFileUpload($event)" accept=".mp4"
        style="display:none" />
    </div>

    <div class="action-buttons">
      <span id="theme-toggle-button" class="icon material-symbols-rounded" (click)="toggleTheme()">
        {{ isLightMode ? 'dark_mode' : 'light_mode' }}
      </span>
      <span id="delete-chat-button" class="icon material-symbols-rounded" (click)="clearChat()">delete</span>
    </div>
  </form>
  <p class="disclaimer-text">
    Developed for the AI Spark Challenge - ASU and NVIDIA - 2025.
  </p>
</div>